.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.navBar {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.render-page, .page {
    height: 100vh;
    padding-top: 64px;
}

.render-page {
    margin-left: 210px;
}

.side-text {
    color: #000000;
    text-decoration: none;
}

.button_add {
    margin: 15px !important;
}

.text-danger {
    color: red;
}

.image_bar {
    max-width: 70%;
    margin-top: 20px;
}

.image_product_div {
    max-width: 20%;
    width: 20%;
    height: 100px;
}

.image_product {
    max-width: 100%;
    max-height: 100%;
}

.product {
    border-bottom: 1px solid #282c34;
}

.label_product {
    margin-left: 15px;
    max-width: 10%;
    min-width: 70px;
}

.product_description {
    width: 70%;
}

.producer_name {
    margin-left: 1rem;
}

.list {
    margin-top: 1rem;
}

.text_field {
    min-width: 30rem !important;
}

.grid_producer {
    margin-left: 1rem !important;
    text-align: left;
}

.form_producer {
    margin-top: 1rem;
}

.sideBar {
    align-content: center;
    width: 210px;
    background: rgba(24, 198, 68, 0.33);
    height: 100vh;
    float: left;
    position: fixed;
    margin-top: 64px;
}

.App-header {
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
